<h2>About Us:-</h2>
<p>This Magazine contains the articles associated with the user</p>

<p><strong>by:</strong> <%= link_to 'Anirudh Jain', "https://github.com/Anirudh-Jain" %></p>

<%= link_to 'HOME', '/' %>